body {
  font-family: "Sixtyfour", sans-serif;
  text-align: center;
  background-color: #000000;
  color: #eeeeee;
  padding: 2em;
}

h1 {
  color: #ffffff;
}

#machine {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 4em auto;
}

.slot {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  transition: transform 0.2s, background-color 0.3s;
}

.slot.spin {
  transform: rotate(10deg);
  background-color: #ff7eb6;
}

.buttons button {
  margin: 0.5em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ff7eb6;
}

#message {
  font-size: 1.2em;
  margin-top: 1em;
  color: #ffffff;
}